<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
    <div class="nav-brand">Tool Bank Pro</div>
    <div class="nav-links">
        <a href="{% url 'tools:catalog' %}">All Tools</a>
        <a href="{% url 'archive:dashboard' %}">My Archive</a>
        <span class="user-email">{{ request.user.email }}</span>
        <a href="{% url 'accounts:logout' %}">Logout</a>
    </div>
</nav>
</body>
</html>